@tailwind base;
@tailwind components;
@tailwind utilities;

.react-images__view {
    justify-content: center;
    display        : flex;
}

.react-photo-gallery--gallery div {
    display              : grid !important;
    grid-template-columns: repeat(3, 1fr);
    /* Số cột và kích thước của mỗi cột */
    grid-gap             : 10px;
    /* Khoảng cách giữa các ảnh */
}

.react-photo-gallery--gallery img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.react-photo-gallery--gallery img:nth-child(n+4) {
    display: none !important;
}

.crop {
    /* Các thuộc tính khác */
    border-radius: 0;
}